@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


:root{
  box-sizing: border-box;
  --white:#faf1cf;
  --green:#3f6844;
  --light-green:#5daa68;

}
body{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--white);
  color: var(--green);
}

h1{
  color: var(--green);
  border-bottom: 1px solid var(--green);
  width: 50%;
  margin: 20px auto;
}

.intro{
  color: var(--light-green);
}

label{
  pointer-events: none;
}

input{
  margin: 30px;
  padding: 10px;
  border-radius: 10px;
  width: 10rem;
  background-color: var(--light-green);
  color: var(--white);
  border: none;
  font-size: 16px;
}

input:focus{
  outline:none;
  border: 1px solid var(--light-green);
  background-color: var(--white);
  color: var(--green);
  border: 2px solid var(--green);
}



input:hover{
  background-color: var(--white);
  color: var(--green);
  border: 2px solid var(--green);
}

.container{
  margin: 40px;
}

input[type=date]{
  cursor: pointer;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
    
}


.btn{
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--white);
  border: 2px solid var(--green);
  color: var(--green);
 
}

.btn:hover{
  background-color: var(--green);
  color: var(--white);
  border: none;
  box-shadow: 0px 2px 3px 1px var(--light-green);
}

.btn:active{
  background-color: var(--light-green);
  color: var(--white);
  box-shadow: none;
}

.output{
  margin: 30px;
  font-size: 24px;
  font-weight: bold;
  color: var(--light-green);
}